@import '../../variables.less';

.nav {
  width: auto;
  position: fixed;
  left: 0;
  right: calc(50% + 400px);
  text-align: right;
  .header{
    margin-right: 4px;
    padding-top: 30px;
    padding-right: 26px;
    border-right: 2px solid @color-1;
    .title {
      color: @primary-color;
      font-size: 28px;
      margin-bottom: 0px;
    }
    .subtitle {
      color: @color-4;
      font-size: 16px;
      margin-bottom: 2px;
    } 
    .git {
      margin-right: 3px;
      font-size: 20px;
      color: @color-3;
    }
  }
  
  :global(.ant-anchor-wrapper) {
    height: 100vh;
    :global(.ant-anchor) {
      height: 100%;
      padding-top: 40px;
      padding-right: 30px;
      :global(.ant-anchor-ink) {
        right: calc(-100% + 10px);
        &::before{
          background-color: @color-1;
        }
      }
      :global(.ant-anchor-link) {
        font-size: 15px;
        &:global(.ant-anchor-link-active) {
          font-weight: 700;
          :global(.ant-anchor-link){
            font-weight: 500;
          }
        }
        :global(.ant-anchor-link){
          font-size: 13px;
          padding-top: 2px;
          padding-bottom: 2px;
        }
        &:nth-child(2) * {
          color: @color-9;
        }
        &:nth-child(3) * {
          color: @color-8;
        }
        &:nth-child(4) * {
          color: @color-7;
        }
        &:nth-child(5) * {
          color: @color-6;
        }
        &:nth-child(6) * {
          color: @color-5;
        }
        &:nth-child(7) * {
          color: @color-4;
        }
        &:nth-child(8) * {
          color: @color-3;
        }
        &:nth-child(9) * {
          color: @color-2;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    width: 220px;
    right: 0;
    border: none;
  }
}
